<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badanie wpływu animacji na cierpliwość użytkownika</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main_style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <h1>Badanie wpływu animacji na cierpliwość użytkownika</h1>
    </header>
    <section>
        <div>
            {% block body %}{% endblock %}
        </div>
    </section>

    <div id="cookie-banner">
        <p>
            Ta strona korzysta z plików cookie, aby zapewnić poprawne działanie witryny.
            <button onclick="document.getElementById('cookie-banner').style.display='none'">Rozumiem</button>
        </p>
    </div>

    <footer>
        <h1>Projekt stworzony przez KAF Studio.</h1>
    </footer>

    <script src="{{ url_for('static', filename='scripts/cookie_banner.js') }}"></script>

</body>
</html>