{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/summary_style.css') }}">
{% endblock %}

{% block body %}
<div class="summary-container">
    <h2>Dziękujemy za udział w badaniu!</h2>
    <h2>Podsumowanie testu</h2>

    <ul class="summary-list">
        <li><strong>Czas testu 1:</strong> {{ test1  }} sekundy</li>
        <li><strong>Czas testu 2:</strong> {{ test2  }} sekundy</li>
        <li><strong>Czas testu 3:</strong> {{ test3  }} sekundy</li>
        <li><strong>Wybrany sposob ladowania:</strong> {{ question1_choice  }} </li>
    </ul>



</div>
{% endblock %}
