{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/test2_style.css') }}">
{% endblock %}

{% block body %}
<div>
    <div class="loader-container">
        <div class="loader">
            <span></span><span></span><span></span>
        </div>
        <p>Ładowanie</p>
        <p>Jeśli ładowanie będzie trwało za długo kliknij przycisk</p>
        <div class="next-button">Resetuj</div>
    </div>
</div>

<script src="{{ url_for('static', filename='scripts/test2.js') }}"></script>
{% endblock %}