body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2%;
}

section {
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    padding: 2%;
    background-color: blue;
    color: white;
    text-align: center;
}

.next-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}

.next-button:hover {
    background-color: rgb(89, 89, 248);
    color: white;
}

#cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

    #cookie-banner.hidden {
        opacity: 0;
        pointer-events: none;
    }
